{% load thumbnail %}
<div class="card">
  <div class="card-header">
    <span class="badge bg-light text-dark">
      Автор:
      <a href="{% url 'posts:profile' post.author %}">
        {{ post.author.get_full_name }}
      </a>
      <p>Дата публикации: {{ post.pub_date|date:"d E Y" }}</p>
    </span>
  </div>
  <div class="card-body">
    <p class="card-text">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text }}</p>
      <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-primary">
        подробная информация
      </a>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}" class="btn btn-primary">
          все записи группы
        </a>
      {% endif %}
      {% if not forloop.last %}
      {% endif %}
  </div>
</div>
<br>