{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="divContent container">
  <div class="row">
    <div class="col-sm-3">
      <div class="row text-center">
        <div class="card" style="width: 18rem; background-color: darkslategrey; color:white ">
          <div class="page-header">
            <h1><span style="color:darkgoldenrod">Ya</span>uheni <span style="color:darkgoldenrod">Li</span>akh</h1>
          </div>
          <img src="{% static 'img/fav/avatar.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Junior Python Developer</h5>
            <p class="card-text">
              <i>Belarus, Minsk</i>
              <p>31 years old</p>
            </p>
          </div>
          <div class="btn-group-vertical"; aria-label="Basic mixed styles example">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="https://t.me/xtm77"> <button type="button" class="btn btn-danger">
                Telegram</button>
              </a>
              <a href="https://github.com/xtmmes"><button type="button" class="btn btn-dark">
                GitHub </button>
              </a>
            </div>
          </div>
            <br>
        </div>
      </div>
    </div>
      <br>
    <div class="col-sm-9">
      <div class="jumbotron">
        <div class="card" style=" background-color: darkslategrey; color:white ">
          <div class="card-body">
            <h2> Skills and Proficiency:</h2>
            <hr>
            <li>HTML5, CSS</li>
            <li>Python</li>
            <li>Django</li>
            <li>SQL</li>
            <li>Git</li>
            <li>VSCode, Pycharm</li>
            <li>Autocad</li>
          </div>
        </div>
          <br>
          <div class="card" style="background-color: darkslategrey; color:white ">
            <div class="card-body">
              <h3>Education</h3>
              <hr>
                <p><li>State College of Architecture and Civil Engineering  (Construction technician)</li></p>
              <p><li>Polotsk State University (Сivil engineer)</li></p>
            </div>
          </div>
          <br>
          <div class="card" style="background-color: darkslategrey; color:white ">
            <div class="card-body">
              <b><h3>Courses</h3></b>
              <hr>
                <li><span style="color:red">Ya</span>ndex Praktikum 2022</li>
                <p>  Python Developer</p>
            </div>
          </div>
          <br>
          <div class="card" style="background-color: darkslategrey; color:white ">
            <div class="card-body">
              <h2 id="skill" class="lead">
              <b><h3>Favorite Quotes</h3></b>
              <hr>
              <i><b>"I'm Going To Build My Own Theme Park!
              With Blackjack! And Hookers!</b></i>  (c) Bender Futurama
              </h2>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

{% endblock %}